@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  color: #336699;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #336699;
    background: #ffffff;

}

a {
  color: #000000;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}

/* example: override wallet button style */
.wallet-button {
  background-color: #707070;
  color: #ffffff !important;

}


img {
  width: 250px;
}

.bg-neutral {
  --tw-bg-opacity: 1;
  /* background-color: hsla(var(--n) / var(--tw-bg-opacity)); */
  background: #ffffff;
background: linear-gradient(90deg, (255, 255, 255) 0%, rgb(255, 255, 255) 55%, rgb(51, 102, 153) 100%);
}
.bg-base-100 {
  --tw-bg-opacity: 1;
  background: #ffffff;
background: linear-gradient(90deg, (255, 255, 255) 0%, rgb(255, 255, 255) 55%, rgb(51, 102, 153) 100%);
}

